@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #dcdcdc; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7E22CE; 
    border-radius: 5px; 
  }
  
  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    font-family: "Roboto Slab", serif;
  }
  
  .custom-font {
    font-family: "Playfair Display", sans-serif;
  }
  .light {
    background-color: #ffffff;
    color: #333333;
  }
  
  .dark {
    background-color: #222c39;
    color: #ffffff;
  }

  
.custom-pulse {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}